@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
	--dark: #444444;
	--light: #ffffff;
	--shadow: 0px 1px 10px 0px rgba(0, 0, 0, 1);
}
body{
	background-color: var(--dark);
}
h1{
	font-family: 'Montserrat', sans-serif;
}
h4{
	font-family: 'Montserrat', sans-serif;
}
p{
	font-family: 'Roboto';
}
.container{
	width: 100%;
	padding: 0;
}
.section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-size: cover;
}
.section-bg{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 80%;
	border-radius: 25px;
	padding: 2em;
	background: var(--light);
	box-shadow: var(--shadow);
}
.section-bg h1{
	font-size: 7em;
	margin: 0
}
.section-bg h4{
	font-size: 2.5em;
	padding-top: 0.5rem;
	padding-bottom: 0.8rem;
	margin: 0
}
.section-bg p{
	font-size: 2rem;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}
.profile-pic-container{
	display: flex;
	width: 600px;
	height: 600px;
	margin-bottom: 5rem;
}
.profile-pic{
	border-radius: 50%;
	object-fit: cover;
	box-shadow: var(--shadow);
}
.no-margin{
	margin: 0;
}
.boxes-container{
	display:flex
}
.boxes{
	display: grid;
	grid-template-columns: repeat(2, 22rem);
	grid-template-rows: repeat(2, 22rem);
	gap: 2rem;
	margin-top: 2rem;
}
.box{
	width: 100%;
	height: 22rem;
	border-radius: 5%;
	background: url(./images/pexels-tatiana-syrikova-3975569.jpg);
	background-size: cover;
	box-shadow: var(--shadow);
}
.box h1{
	font-size: 3rem;
	margin-top: 1rem;
	margin-left: 1rem;
	text-align: left
}
.box p{
	font-size: 1.5rem;
	margin: 0 1rem;
}